/**
 * Your CSS styles go here.
 * This file is deployed as ++resource++silvuple/main.css on your site 
 * and automatically included in merge bundles via cssregistry.xml.
 *
 * More information
 *
 * http://collective-docs.readthedocs.org/en/latest/templates_css_and_javascripts/css.html
 */ 

#content .translator-master-content a,
#content .translator-master-content a:visited,
#content .translator-master-content a:active,
#content .translator-master-content a:hover {
    text-decoration: none !important;
    border-bottom: 0 !important;    
    display: inline-block;
    margin-right: 0.5em;
}


.translator-master-content .view-link {
    display: block !important;
}

.translator-master-content .canonical-item .view-link {
    font-weight: bold;
}

.translator-master-content .note {
    color: #888;
    font-size: 80%;
}

#content .translator-master-content a.quick-link,
#content .translator-master-content a.quick-link:visited,
#content .translator-master-content a.quick-link:active,
#content .translator-master-content a.quick-link:hover {
    color: red !important;
    font-size: 80%  !important;
}

